<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158567542922-set9fbukms3hlld9h8qkl4iu0oerf7gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158567542922-set9fbukms3hlld9h8qkl4iu0oerf7gt</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ5EZJKkdPfGsbl5BPaSbne3hAsZGof4U</string>
	<key>GCM_SENDER_ID</key>
	<string>158567542922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GDSCMETU3.easy</string>
	<key>PROJECT_ID</key>
	<string>easy-b1669</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-b1669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158567542922:ios:836dee2a46c614672bfd73</string>
</dict>
</plist>